<mat-card class="number-card">
  <mat-card-title>
    Input:  
  </mat-card-title>
  <mat-card-subtitle>
    e.g. type "1234567" or "ninety nine"
  </mat-card-subtitle>
  <mat-card-content>
    <form class="form" [formGroup]="numberInputForm">
      <mat-form-field class="form__input">
        <input matInput placeholder="Type here..." formControlName="number" value="{{number}}" rows="6" (change)="onNumberChange($event.target.value)" />
        <mat-error *ngIf="hasError">{{error}}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>