<div class="button-group">
    <mat-form-field>
        <mat-select placeholder="Conversion Type" [ngModel]="conversionType" (ngModelChange)="onUpdateConversionType($event)">
            <mat-option *ngFor="let item of convertionTypeArray" [value]="item.value">
                {{ item.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onConvertClick()">
        <mat-icon>autorenew</mat-icon>Convert
    </button>
</div>